.sidebar {
    background:rgb(54, 54, 140);
    position: relative;
    width: 80%;
    padding-top: 30%;
}

.sidebar button {
    background:darkblue;
    border-radius:100px;
    border:none;
    color: white;
    padding: 10%;
    text-align: center;
    cursor: pointer;
    width: 155px;
    margin-left: 10%;
    margin-top: 10%;
}

.sidebar button:hover {
    background-color: #e09729;
}


main { 
    padding: 20px; 
    grid-column: 2;
    grid-row: 2;
}

.dashboard-home {
    text-align: center;
    margin-top: 80px;
    color: #333;
}

.dashboard-home h2 {
    margin-bottom: 10px;
}
