#listaClientes {
  list-style: none;
  padding-left: 0;
}
#listaClientes li {
  background: rgb(255, 255, 255);
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
    color: #333;
}
