#listaClientes {
  list-style: none;
  padding-left: 0;
}
#listaClientes li {
  background-color: #f9f9f9;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

.icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 5px;
}

.cliente-item button:hover {
    background-color: #e09729;
}

.cliente-item {
    background-color:darkblue;
    margin-right: 50%;
    border-radius: 30px;
    content: normal;
}

.cliente-item .btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


