#listaClientes {
  list-style: none;
  padding-left: 0;
}
#listaClientes li {
  background-color: #f9f9f9;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 5px;
}

.cliente-item button {
    width: 100%;
    background: none;
    border: none;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    padding: 0;
}

.cliente-item button:hover {
    background-color: #a33636;
  }