#leadslist {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.lead-item {
    background-color: #4030a5;
    margin-bottom: 10px;
    margin-right: 50%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}


.lead-item button {
    width: 100%;
    background: none;
    border: none;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    padding: 0;
}

.lead-item button:hover {
    background-color: #f1f1f1;
}
