.listaLeads {
    list-style-type:lower-alpha;
    padding: 0;
}

#listaLeads li {
    background-color: #f1f1f1;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#listaLeads li button {
    float: right;
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}