#header header { background-color: darkblue;
         font-family: 'Courier New', Courier, monospace;
         color: cornflowerblue;
         padding: 20px;
     }


body { background-color: lightblue;

     
}


#footer footer { background-color: red; }



