header {  background:rgb(8, 8, 236);
         font-family: 'Courier New', Courier, monospace;
         color: rgb(238, 238, 239);
         padding: 20px;
         border-style:solid;
         border-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
     }


body { 
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    min-height: 100vh;
     
}


footer { 
    background-color: rgb(248, 0, 0); 
    color: white;}



