header {  background:rgb(62, 62, 170);
         font-family: 'Courier New', Courier, monospace;
         color: rgb(238, 238, 239);
         padding: 20px;
         border-style:solid;
         border-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
     }

.header-app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 30px;
}

.header-left {
    display: flex;
    align-items:center;
    gap: 15px;
}

.header-right {
    display: flex;
    align-items:center;
}

.logout-btn {
    cursor: pointer;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


body { 
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
     
}


footer { 
    background-color: rgb(237, 232, 232); 
    color: rgb(0, 0, 0);}




