header {  
        background:rgb(62, 62, 170);
         font-family: 'Courier New', Courier, monospace;
         color: rgb(238, 238, 239);
         padding: 20px;
         border-style:solid;
         border-image: linear-gradient(135deg, #38327e 0%, #764ba2 100%); 
         grid-column: 1 / -1;
     }

.header-app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 30px;
}

.header-left {
    display: flex;
    align-items:center;
    gap: 15px;
}

.header-right {
    display: flex;
    align-items: end;
    margin-left: 0;
}

.logout-btn {
    cursor: pointer;
    hover {
        transform: scale(1.05);
    }
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-welcome {
    font-size: 18px;
    margin-left: 110px;
}


body { 
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 220px 1fr;
    grid-template-rows: auto 1fr auto;
     
}

.sidebar {
    background:rgb(62, 62, 170);
    padding: 50px;
    position:relative;
    width: 50px;
    height: auto;
    align-items: left;
}

.sidebar button {
    background: none;
    border:#ffffff;
    border-radius: 100px;
    color: white;
    padding: 10px;
    text-align: left;
    cursor: pointer;
    width: 100px;
}

.sidebar button:hover {
    background-color: #34495e;
}


main { 
    padding: 20px; 
    grid-column: 2;
    grid-row: 2;
}




footer { 
    background-color: rgb(237, 232, 232); 
    color: rgb(0, 0, 0);
    grid-column: 1 / -1;
}





